// Fonts
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700");

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Source Sans Pro', Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  padding-top: 60px; // to handle the navbar fixed top
}

a.active {
  color: purple;
}


.table td > .table {
  &:last-child {
    margin-bottom: 0
  }

  > tbody > tr:first-child > td{
    border-top: none;
  }
}

.table {
  &-condensed td > .table {
    margin-left: -5px;
    margin-right: -5px;
    width: calc(100% + 10px);
    max-width: calc(100% + 10px);

    &:first-child {
      margin-top: -5px;
    }

    &:last-child {
      margin-bottom: -5px;
    }
  }
  &-bordered td > .table.table-bordered {
    border-left: none;
    border-right: none;
    > tbody > tr > td{
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }

    &:first-child {
      border-top: none;
      > tbody > tr > td {
        border-top: none;
      }
    }
    &:last-child {
      border-bottom: none;
      > tbody > tr > td {
        border-bottom: none;
      }
    }
  }
}

.table td .form-group:last-child {
  margin-bottom: 0
}

.input-group {
  width: 100%;
}


.show-overflowed, .show-overflowed .media-body {
  overflow: visible;
}
.word--ellipsis {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}
